.main-container {
    /*background-color:rgb(91, 155, 213);*/
    background-image: linear-gradient(40deg, rgba(255, 255, 255, 0.2), rgba(91,155,213, 0.8)), url(/assets/pill-bg.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    position: relative;
}

.header {
    position: absolute;
    top: 35%;
    right: 30%;
}

.logo {
    width: 500px;
    position: absolute;
    top: 25%;
    left: 55%;
}

.home-button {
    background-color: transparent;
    border: solid 1px white;
    border-radius: 2px;
    padding: 5px 20px;
    position: absolute;
    top: 55%;
    font-size: 1.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.home-button:hover {
    background-color: white;
}

.hb1 {
    left: 54%;
}

.hb2 {
    left: 66%;
}

.hb3 {
    left: 78%;
}

.slogan {
    font-size: 2rem;
    position: absolute;
    top: 45%;
    left: 58%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}