
<div class="main-container">

    <button type="button" class="close" routerLink="/">
        <span >&times;</span>
      </button>

  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
      <img src="./assets/shayan.png" alt="..." class="cir" width="300" height="230">
    </div>
    <div class="col-md-3">
      <img src="./assets/ryan.png" alt="..." class="cir" width="300" height="230">
    </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <img src="./assets/zach.png" alt="..." class="cir" width="320" height="300">
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
    </div>
    <div class="col-md-3">
      <img src="./assets/jon.png" alt="..." class="cir" width="300" height="230">
    </div>
    <div class="col-md-3">
      <img src="./assets/bern.png" alt="..." class="cir" width="330" height="320">
    </div>
  </div>

  </div>  


